Node-RED funciton.txt
[{"id":"323a0c00.0cb854","type":"tab","label":"Smart Bell","disabled":false,"info":""},{"id":"c28beabf.5faf78","type":"blynk-ws-out-notify","z":"323a0c00.0cb854","name":"","client":"4296495f.fda488","queue":false,"rate":5,"x":790,"y":320,"wires":[]},{"id":"b31beb10.7a0818","type":"mqtt in","z":"323a0c00.0cb854","name":"","topic":"node/smart-bell:0/doorBell","qos":"2","broker":"e649966c.8c2af8","x":230,"y":320,"wires":[["e53a1a82.6c4808"]]},{"id":"e53a1a82.6c4808","type":"function","z":"323a0c00.0cb854","name":"Message","func":"msg.payload = \"Someone is at the door\"\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":320,"wires":[["c28beabf.5faf78"]]},{"id":"4296495f.fda488","type":"blynk-ws-client","z":"","name":"Door bell","path":"ws://127.0.0.1:8080/websockets","key":"7af7dd1e480640998efef438a5751efb","dbg_all":false,"dbg_read":false,"dbg_write":false,"dbg_notify":false,"dbg_mail":false,"dbg_prop":false,"dbg_sync":false,"dbg_bridge":false,"dbg_low":false,"dbg_pins":"","multi_cmd":false,"proxy_type":"no","proxy_url":""},{"id":"e649966c.8c2af8","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]